// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body{
  font-family: sans-serif;
}
.card{
  width: 30%;
  padding: 0.5%;
  border-left: 0.5rem solid lightgrey;
}
